*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  color: var(--text);
  background-color: var(--background);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  font-family: "Saira", sans-serif;
  line-height: 1.5;
  color: var(--text);
  background-color: var(--background);
  font-weight: 300;
}

